.contenedor_LoginContraseña {
	margin: auto;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	width: 100%;
	max-width: 800px;
	position: relative;	
}

main{
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
}

.contenedor__todo{
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
}

.caja__trasera{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(0, 128, 255, 0.5);

}

.caja__trasera div{
    margin: 100px 40px;
    color: white;
    transition: all 500ms;
}


.caja__trasera div p,
.caja__trasera button{
    margin-top: 30px;
}

.caja__trasera div h3{
    font-weight: 400;
    font-size: 26px;
}

.caja__trasera div p{
    font-size: 16px;
    font-weight: 300;
}

.caja__trasera button{
    padding: 10px 40px;
    border: 2px solid #fff;
    font-size: 14px;
    background: transparent;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
    transition: all 300ms;
}

.caja__trasera button:hover{
    background: #fff;
    color: #46A2FD;
}

/*Formularios*/

.contenedor__login-register{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 380px;
    position: relative;
    top: -185px;
    left: 10px;

    /*La transicion va despues del codigo JS*/
    transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

.contenedor__login-register form{
    width: 100%;
    padding: 80px 20px;
    background: white;
    position: absolute;
    border-radius: 20px;
}

.contenedor__login-register form h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: #46A2FD;
}

.contenedor__login-register form input{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #F2F2F2;
    font-size: 16px;
    outline: none;
}

.contenedor__login-register form button{
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 14px;
    background: #46A2FD;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
}




.formulario__login{
    opacity: 1;
    display: block;
}
.formulario__register{
    display: none;
}

@media screen and (max-width: 850px){

    main{
        margin-top: 50px;
    }

    .caja__trasera{
        max-width: 350px;
        height: 300px;
        flex-direction: column;
        margin: auto;
    }

    .caja__trasera div{
        margin: 0px;
        position: absolute;
    }


    /*Formularios*/

    .contenedor__login-register{
        top: -10px;
        left: -5px;
        margin: auto;
    }

    .contenedor__login-register form{
        position: relative;
    }
}

/* PAGINA Principal */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-image: url(../Portafolio/Photo/90368696-fondo-digital-de-la-pantalla-de-interfaz-de-usuario-de-tecnología-de-alta-tecnología-de-ciencia-ficc.jpg);
	font-family: 'Open Sans', sans-serif;
	
}

a {
	text-decoration: none;
}
/* FIN_PAGINA */

/* CONTENEDOR */
.contenedor {
	width: 90%;
	max-width: 800px;
	margin: auto;
}
/* FIN_CONTENEDOR */

/* HEADER */
header {
	padding: 40px 0;
}

header .Presentacion {
	text-align: center;
	margin-bottom: 40px;
}

header .Presentacion p {
	color: #9B9B9B;
}

header form {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

header .buscador {
	width: 70%;
	height: 40px;
	line-height: 40px;
	background: #fff;
	padding: 0 20px;
	border-radius: 100px;
	border: none;
	text-align: center;
	font-size: 16px;
}

header .atajos {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

header .atajos a {
	color: #9B9B9B;
	margin: 10px 20px;
	font-size: 18px;
	font-weight: 700;
}

header .atajos a.activo {
	color: #000;
}
/* FIN_HEADER */

/* Grid */
.grid {
	position: relative;
	width: 100%;
	opacity: 0;
	transition: opacity 0.5s linear 1s;
}

.grid.imagenes-cargadas { 
	opacity: 1;
}

.grid .item {
	position: absolute;
	display: block;
	padding: 0;
	margin: 20px;
	width: 25%;
	                      				
}

.grid .item-contenido {
	position: relative;
}

.grid .item img {
	width: 100%;
	vertical-align: top;
}

.grid .item-contenido a {
	display: block;
	width: 60px;
	height: 60px;
	margin: 10px 75px;
	text-align: center;
	border-radius: 100px;
	transition: .3s ease all;
	width: 25%;
}

.grid .item-contenido a {
	font-size: 15px;
	line-height: 60px;
}

.grid .item-contenido .POO {background: #91e8eee7;}
.grid .item-contenido .Calcu {background: #c3d8c7;}
.grid .item-contenido .Pro {background: #cfcfcf;}


.grid .item-contenido:hover a {
	animation: icono .8s ease;
}
/* FIN_Grid */

@keyframes icono {
	from {
		transform: rotate3d(0,0,0,0);
	}
	to {
		transform: rotate3d(0,1,0, 360deg);
	}
}
/* FOOTER */
footer .Fin_pagina {
	margin-bottom: 40px;
	text-align: center;
	font-size: 14px;
	color: #c13584;
}

footer .Fin_pagina a {color: #000;}
footer .Fin_pagina a:hover {text-decoration: underline;}


@media screen and (max-width:700px) {
	.grid .item {
		width: 50%;
	}
}
/* FOOTER */

